.admin-dashboard-body{
  min-height: 400px;
  .form-group{
    min-height: 100px;
    justify-content: center;
    .form-group-row{
      flex-direction: row;
      justify-content: center;
      label{
        width: 15%;
        justify-content: center;
        display: flex;
        align-items: center;
      }
      .value{
        width: 25%;
      }
    }
  }
  .table{
    width: 95%;
    display: grid;
    margin: 16px;
    font-size: medium;
    thead{
      font-size: larger;
    }
    tbody{
    }
    .actions{
      cursor: pointer;
      .icon-text{
        margin-left: 5px;
      }
    }
  }
  th{
    color:blueviolet;
  }
  .no-data{
    font-size: 25px;
    margin-bottom: 100px;
  }
}

