.admin-dashboard-body{
  min-height: 400px;
  .form-group{
    min-height: 100px;
    justify-content: center;
    .form-group-row{
      flex-direction: row;
      justify-content: center;
      label{
        width: 15%;
        justify-content: center;
        display: flex;
        align-items: center;
      }
      .value{
        width: 25%;
      }
    }
  }
  .table{
    width: 95%;
    display: grid;
    margin: 16px;
    font-size: medium;
    thead{
      font-size: larger;
    }
    tbody{
    }
    .actions{
      .tick{
        color: green;
      }
      .cross{
        color: red;
        margin-left: 20px;
      }
    }
  }
  th{
    color:blueviolet;
  }
  .no-data{
    font-size: 25px;
    margin-bottom: 100px;
  }
}

th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
  max-width: 200px; /* Adjust the maximum width as needed */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

th {
  background-color: #f2f2f2;
}

